@section Scripts {

    <script src="~/js/Home-Index.js"></script>
    <link href="~/css/home-index.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

}

<div class="app-container">


                <div class="app-header d-flex align-items-center">

                    <!-- Toggle buttons start -->
                    <div class="d-flex">
                        <button class="btn btn-primary me-2 toggle-sidebar" id="toggle-sidebar">
                            <i class="bi bi-chevron-left fs-5"></i>
                        </button>
                        <button class="btn btn-primary me-2 pin-sidebar" id="pin-sidebar">
                            <i class="bi bi-chevron-left fs-5"></i>
                        </button>
                    </div>
                    <!-- Toggle buttons end -->
                    <!-- App brand sm start -->
                    <div class="app-brand-sm d-md-none d-sm-block">
                        <a href="index.html">
                            <img src="~/image/logo-sm.svg" />
                        </a>
                    </div>
                    <!-- App brand sm end -->
                    <!-- App header actions start -->
                    <div class="header-actions">
                        <div class="d-lg-block d-none me-2">

                            <!-- Search container start -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" />
                                <button class="btn btn-outline-primary" type="button">
                                    <i class="bi bi-search fs-5"></i>
                                </button>
                            </div>
                            <!-- Search container end -->

                        </div>

                        <!-- Menus -->
                        <div class="dropdown ms-3">
                            <a class="dropdown-toggle d-flex p-2 py-3" href="#!" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="bi bi-grid fs-2 lh-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end shadow">
                                <!-- Row start -->
                                <div class="d-flex gap-2 m-2">
                                    <a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
                                        <img src="~/image/brand-behance.svg" class="img-3x" alt="Admin Themes" />
                                    </a>
                                    <a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
                                        <img src="~/image/brand-gatsby.svg" class="img-3x" alt="Admin Themes" />
                                    </a>
                                    <a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
                                        <img src="~/image/brand-google.svg" class="img-3x" alt="Admin Themes" />
                                    </a>
                                    <a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
                                        <img src="~/image/brand-bitcoin.svg" class="img-3x" alt="Admin Themes" />
                                    </a>
                                    <a href="javascript:void(0)" class="g-col-4 p-2 border rounded-2">
                                        <img src="~/image/brand-dribbble.svg" class="img-3x" alt="Admin Themes" />
                                    </a>
                                </div>
                                <!-- Row end -->
                            </div>
                        </div>

                        <!-- Notificaciones -->
                        <div class="dropdown ms-3">
                            <a class="dropdown-toggle d-flex p-2 py-3" href="#!" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="bi bi-bell fs-2 lh-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end shadow">
                                <div class="dropdown-item">
                                    <div class="d-flex py-2 border-bottom">
                                        <img src="~/image/user.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
                                        <div class="m-0">
                                            <h5 class="mb-1 fw-semibold">Sophie Michiels</h5>
                                            <p class="mb-1">Membership has been ended.</p>
                                            <p class="small m-0 text-primary">Today, 07:30pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-item">
                                    <div class="d-flex py-2 border-bottom">
                                        <img src="~/image/user2.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
                                        <div class="m-0">
                                            <h5 class="mb-1 fw-semibold">Sophie Michiels</h5>
                                            <p class="mb-1">Congratulate, James for new job.</p>
                                            <p class="small m-0 text-primary">Today, 08:00pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-item">
                                    <div class="d-flex py-2">
                                        <img src="~/image/user1.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
                                        <div class="m-0">
                                            <h5 class="mb-1 fw-semibold">Sophie Michiels</h5>
                                            <p class="mb-2">Lewis added new schedule release.</p>
                                            <p class="small m-0 text-primary">Today, 09:30pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top py-2 px-3 text-end">
                                    <a href="javascript:void(0)">View all</a>
                                </div>
                            </div>
                        </div>

                        <!-- herramientas Usuario -->
                        <div class="dropdown ms-3">

                            <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center text-decoration-none"
                               href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="d-none d-md-block me-2" id="UserLoginTwo"> <!-- Harriet Bradford --></span>

                                 <script>

                                    document.getElementById("UserLoginTwo").textContent = userInfo.usuario.nombre;

                                </script>

                                <img src="~/image/images.jpg" class="rounded-circle img-3x" alt="Bootstrap Gallery" />
                            </a>

                            <div class="dropdown-menu dropdown-menu-end shadow">

                                <a class="dropdown-item d-flex align-items-center" href="profile.html">
                                    <i class="bi bi-person fs-4 me-2"></i>Profile
                                </a>

                                <a class="dropdown-item d-flex align-items-center" href="settings.html">
                                    <i class="bi bi-gear fs-4 me-2"></i>Account Settings
                                </a>
                                    <a class="dropdown-item d-flex align-items-center" href="/login/index">
                                    <i class="bi bi-escape fs-4 me-2"></i>Logout
                                </a>

                            </div>

                        </div>

                    </div>
                    <!-- App header actions end -->

                </div>

                <div class="app-hero-header">

                <div class="row" id="RowPokeCount">

                    <div class="col-lg-4 col-sm-6 col-12" id="ColPokeCount">
                            <div class="card shadow mb-4 p-3 rounded-2 justify-content-between flex-row">
                                <div class="mt-3" id="MtPokeCount">
                                    <h5 class="text-secondary fw-light">Numero de pokemon</h5>
                                    <h1 class="text-primary">1302</h1>
                                </div>

                            </div>
                    </div>

                </div>

                </div>

                <div class="app-body">

                    <div class="row">

                        <div class="container-fluid p-3" >

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4 ">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" id="H1TituloTabla" >Datos de Pokémon</h6>
                                </div>

                                <div class="class=" table-responsive" style="padding: 2rem !important;">
                
                                    <table id="Pokemon-table"
                                           class="table table-sm"
                                           data-toggle="table"
                                           data-locale="es-MX"
                                           data-pagination="true"
                                           data-search="true"
                                           data-page-size="50"
                                           data-page-list="[50, 100, 200]" 
                                           data-height="500"
                                           data-response-handler="responseHandler">

                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center" data-field="id" data-sortable="true" >ID</th>
                                                <th class="text-center" data-field="nombre" data-sortable="true" >Nombre</th>
                                                <th class="text-center" data-field="url">Url</th>
                                                <th class="text-center" data-formatter="operateFormatter" data-title="Eventos" data-events="operateEvents">Acciones</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="app-footer">
                    <span style="color:ghostwhite">© AIJG 2024</span>
                </div>
</div>

@*Modal crear Usuario*@
<div class="modal" id="ModaCrearUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informacion del Usuario</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" placeholder="*" style="margin-bottom: 10px;">
                    </div>
                    <div class="form-group">
                        <label for="Usuario">Usuario</label>
                        <input type="text" class="form-control" id="Usuario" placeholder="*" style="margin-bottom: 10px;">
                    </div>
                    <div class="form-group">
                        <label for="Contraseña">Contraseña</label>
                        <input type="password" class="form-control" id="Contraseña" placeholder="*" style="margin-bottom: 10px;">
                    </div>
                    <div class="form-group">
                        <label for="Rol">Rol</label>
                        <select id="Rol" class="form-control" style="margin-bottom: 10px;">

                            <option value="1">Administrador</option>
                            <option value="2" disabled>DHL</option>
                            <option value="10" disabled>Estafeta</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Direccionshose">Direccion Origen</label>
                        <select id="Direccionshose" class="form-control" style="margin-bottom: 10px;">

                            @*<option value="">Administrador</option>
                            <option value="2" disabled>DHL</option>
                            <option value="10" disabled>Estafeta</option>*@

                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CerrarModales()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="AgregarUsuario()">Guardar</button>
            </div>
        </div>
    </div>
</div>